
html{
	box-sizing: border-box;
	font-family: Georgia, 'Times New Roman', Times, serif,
}

.container{
	margin:0 auto;
	width: 90%;
	padding: 25px;
}

header{
	margin:0 auto;
	width: 90%;
	padding: 25px;
}

img{
	display: block;
	margin: 0 auto;
	width: 80%;
	padding: 25px;
}

.moto{
	margin:0 auto;
	padding: 5px;
	text-align: center;
	font-size: 1em;
}

h1{
	padding: 5px;
	text-align: center;
	font-size: 7em;
	border-bottom: double rgb(158, 158, 158);
}

.navigation {
	display: flex;
	margin:0 auto;
	width: 95%;
	
}

.navigation article{
	margin: auto ;
	width: 25%;
	text-align: left;
	overflow: hidden;
}

article h3{
	display: flex;
	font-size: 2em;
}

article i{
    margin-left: 5px;	
 	color: darkgray;
}

footer {
	margin:0 auto;
	width: 100%;
	text-align: center;
}

span{
	color: darkgray;
}






